<form action="/" method="POST">
    <center><h1 class="my-4">URL Shortener</h1></center>
    <input type="text" name="URL" placeholder="Input URL here" class="form-control" style="background-color: rgb(226, 226, 226);">
    <center><button type="submit" class="btn btn-outline-primary my-4" style="width: 200px;">Shorten</button></center>
</form>