<form action="/" method="POST">
    <center class="my-4"><a href="/" style="text-decoration:none; color:black"><h1>URL Shortener</h1></a></center>
    <input type="text" name="URL" placeholder="Input URL here" class="form-control mb-4" style="background-color: rgb(226, 226, 226);">
    {{>messages}}
    <center><button type="submit" class="btn btn-outline-primary" style="width: 200px;">Shorten</button></center>
</form>