<form action="/" method="POST">
    <center><h1 class="my-4">URL Shortener</h1></center>
    <p style="font-weight:bold;">Success! Please use this link:</p>
    <a href="{{OriginalURL}}">{{ShortenURL}}</a>
    <center><button class="btn btn-primary my-4" style="width: 200px;">copy</button></center>
</form>