<form action="/" method="POST">
    <center class="my-4"><a href="/" style="text-decoration:none; color:black"><h1>URL Shortener</h1></a></center>
    <p style="font-weight:bold;">Success! Please use this link:</p>
    <a href="{{OriginalURL}}">{{ShortenURL}}</a>
    <center><button class="btn btn-primary my-4" data-clipboard-target="#foo" style="width: 200px;">copy</button></center>
</form>